{% extends "entreprinder/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>{% trans "Sign In" %}</h1>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="form-group">
          {{ form.login.errors }}
          <label for="{{ form.login.id_for_label }}">{% trans "E-mail" %}:</label>
          {{ form.login }}
        </div>
        
        <div class="form-group">
          {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}">{% trans "Password" %}:</label>
          {{ form.password }}
        </div>
        
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
      
      {% if form.errors %}
        <div class="alert alert-danger mt-3">
          <strong>Error:</strong> Your e-mail and password didn't match. Please try again.
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}