.user-avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-toggler-icon {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler-icon i {
    color: #000; /* Adjust this color to match your navbar theme */
    font-size: 1.5rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}